@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 

* {
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar{
	display: none;
}
body {
	background-color:rgb(245, 245, 245);
}
h1 {
	font-family: Verdana,serif;
	font-size: 45px;
	color: rgb(32, 32, 32);
	margin-left: 30px;
}
h2 {
	color: rgb(8, 8, 8);
	font-size: 30px;
	text-align: justify;
}

header {
	height: 100px;
	background-color: rgb(245, 245, 245);
} 

header h1{ 
	float:left;
	margin-top: 32px;
}

header nav {
	float: right;
	margin-top: 50px;
}

header nav ul li {
	display: inline-block;
	font-family: Helvetica, sans-serif;
}

header nav ul li a{
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 30px;
	text-decoration: none;

}

.li-1 a{
	color: rgb(32, 32, 32);
}

.li-2 a{
	color: #816C61;
	border: 3px solid #816C61;
	padding: 5%;
}

.li-3 a{
	color: rgb(8, 8, 8);
	border: 3px solid #E7DFC6;
	padding: 4%;
	background-color: #E7DFC6;
}

header nav ul li:hover{
	scale: 1.09;
}
#fonct{
	display: flex;
	align-items: flex-start;
	margin-left: 13%;
	margin-top: 5%;
}

#fonct h2 {
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 20px;

}
.bloque {
	padding: 20px;
	width: 30%;
	height: 300px;
	overflow: auto;
	float: left;
	margin-right: 10%;
}

.bloque button{
	margin-top: 15px;
	background-color: rgba(34, 117, 165, 0);
	padding: 2%;
	border-radius: 30px;
	border: solid 3px #E7DFC6;
}
.bloque button a{
	text-decoration: none;
	color: rgb(8, 8, 8);
	font-family: Arial, Helvetica, sans-serif;
}
.bloque button:hover{
	scale: 1.02;
}
.video iframe {
	margin-left: 7%;
	top: 0;
	left: 0;
	width: 570px;
	height: 315px;
	box-shadow: 0 0 10px #2274a5;
}
